<div id="page-team">
    <div class="col-xs-12 back-button">
        <a href="#" data-page="home.html" class="ajax-link btn btn-default btn-sm">
            <i class="fa fa-chevron-left"></i>
        </a>
        <span class="title">The Developers Hehe</span>
    </div>

    <div class="col-xs-12 content">
        <p>
            <img src="img/images/building.jpg">
            <small><em>Image by &copy; CEphoto, Uwe Aranas</em></small>
        </p>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod.</p>
        <br>
        <p>
            <img src="img/images/building.jpg">
            <small><em>Image by &copy; CEphoto, Uwe Aranas</em></small>
        </p>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod.</p>
    </div>

</div>