<div id="page-fiscal">
    <div class="col-xs-12 back-button">
        <a href="#" data-page="home.html" class="ajax-link btn btn-default btn-sm">
            <i class="fa fa-chevron-left"></i>
        </a>
        <span class="title">Fiscal Economic Reports</span>
    </div>

    <div class="col-xs-12 content">

        <div id="guest-message" style="display: none;">
            <p>Please login to view this page:</p>
            <p><a href="#" data-page="login.html" class="ajax-link btn btn-block btn-primary">Login Now</a></p>
        </div>
        
        <div id="user-message" style="display: none;">
            <p><a href="#" id="btn-logout" class="ajax-link btn btn-block btn-warning">Logout</a></p>
        </div>

        <div class="alert alert-danger">
            <p>TO DO:</p>

            <ol>
                <li>Fetch data from remote server</li>
                <li>Save the data to local storage (SQLite)</li>
                <li>Check for updates and save the latest update in local storage</li>
            </ol>
        </div>
    </div>

</div>